In [30]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df=pd.read_csv("/content/property_listing_data_in_Bangladesh.csv")

In [32]:
df.head()

,title,beds,bath,area,adress,type,purpose,flooPlan,url,lastUpdated,price
0,To Get A Trouble Free Life You Can Take Rent T...,3,3,"1,500 sqft","Priyanka City, Sector 12, Uttara, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/15...,https://www.bproperty.com/en/property/details-...,"July 29, 2022",30 Thousand
1,Visit This 1400 Square Feet Apartment Which Is...,4,3,NaN,"Modhubag, Boro Maghbazar, Maghbazar, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/1-...,https://www.bproperty.com/en/property/details-...,"August 8, 2021",22 Thousand
2,1500 Sq Ft Apartment Is Up For Rent In Bashund...,3,3,"1,850 sqft","Block G, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/15...,https://www.bproperty.com/en/property/details-...,"July 20, 2022",35 Thousand
3,"1,500 sft Ready Flat For Rent In Bashundhara R...",3,3,"1,850 sqft","Block G, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/15...,https://www.bproperty.com/en/property/details-...,"July 20, 2022",35 Thousand
4,Apartment For Rent In Uttara - Own This Promin...,3,3,"1,500 sqft","Sector 5, Uttara, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/15...,https://www.bproperty.com/en/property/details-...,"March 18, 2022",30 Thousand

In [33]:
df.shape

(8294, 11)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8294 entries, 0 to 8293
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        8294 non-null   object
 1   beds         8294 non-null   object
 2   bath         8294 non-null   object
 3   area         5714 non-null   object
 4   adress       8294 non-null   object
 5   type         8294 non-null   object
 6   purpose      8294 non-null   object
 7   flooPlan     8275 non-null   object
 8   url          8294 non-null   object
 9   lastUpdated  8294 non-null   object
 10  price        8294 non-null   object
dtypes: object(11)
memory usage: 712.9+ KB

In [35]:
df.isnull().sum()

title             0
beds              0
bath              0
area           2580
adress            0
type              0
purpose           0
flooPlan         19
url               0
lastUpdated       0
price             0
dtype: int64

In [36]:
df['area'].mode()[0]

'1,500 sqft'

In [37]:
df['area']=df['area'].fillna(df['area'].mode()[0])

In [38]:
df.isnull().sum()

title           0
beds            0
bath            0
area            0
adress          0
type            0
purpose         0
flooPlan       19
url             0
lastUpdated     0
price           0
dtype: int64

In [39]:
df['flooPlan'].mode()[0]

'https://images-cdn.bproperty.com/thumbnails/2-240x180.webp'

In [40]:
df['flooPlan']=df['flooPlan'].fillna(df['flooPlan'].mode()[0])

In [41]:
df.isnull().sum()

title          0
beds           0
bath           0
area           0
adress         0
type           0
purpose        0
flooPlan       0
url            0
lastUpdated    0
price          0
dtype: int64

In [42]:
df.describe()

,title,beds,bath,area,adress,type,purpose,flooPlan,url,lastUpdated,price
count,8294,8294,8294,8294,8294,8294,8294,8294,8294,8294,8294
unique,8220,14,9,123,687,3,1,1331,8294,671,154
top,1200 Square Feet Apartment For Rent In Adabor,3,2,"1,500 sqft","Sector 13, Uttara, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/2-...,https://www.bproperty.com/en/property/details-...,"March 6, 2020",15 Thousand
freq,3,4716,3376,3385,263,8221,8294,1885,1,260,726

In [43]:
df.columns

Index(['title', 'beds', 'bath', 'area', 'adress', 'type', 'purpose',
       'flooPlan', 'url', 'lastUpdated', 'price'],
      dtype='object')

In [44]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder



# Select the categorical columns you want to encode
categorical_columns = df.columns[0:12]

# Initialize the label encoder
le = LabelEncoder()

# Loop over the categorical columns and perform label encoding on each one
for column in categorical_columns:
    df[column] = le.fit_transform(df[column])

# The transformed columns will now contain numerical values instead of categorical labels

In [45]:
df.head()

,title,beds,bath,area,adress,type,purpose,flooPlan,url,lastUpdated,price
0,7409,8,3,43,513,0,0,792,7187,303,95
1,7678,10,3,43,424,0,0,0,792,94,73
2,517,8,3,66,213,0,0,768,667,284,101
3,3,8,3,66,213,0,0,764,314,284,101
4,2748,8,3,43,588,0,0,588,1392,394,95

In [48]:
x=df.drop(columns='price',axis=1)

In [49]:
y=df['price']

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [54]:
# Initialize the random forest classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the classifier on the training data
clf.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = clf.predict(X_test)

# Evaluate the accuracy of the model on the testing data
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.2923447860156721

In [55]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [56]:
# Initialize the linear regression model
reg = LinearRegression()

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 891.1663880652789

In [57]:
from sklearn.linear_model import Lasso

In [58]:
# Initialize the lasso regression model
reg = Lasso(alpha=0.1)

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 29.848782649937263

In [59]:
from sklearn.linear_model import Ridge

In [60]:
# Initialize the ridge regression model
reg = Ridge(alpha=0.1)

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 29.852406165905734

In [61]:
from sklearn.tree import DecisionTreeRegressor

In [62]:
# Initialize the decision tree regressor
reg = DecisionTreeRegressor()

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 34.25087389935034

In [63]:
from sklearn.ensemble import RandomForestRegressor

In [64]:
# Initialize the random forest regressor
reg = RandomForestRegressor()

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 24.47544821038948

In [65]:
from sklearn.svm import SVR

In [66]:
# Initialize the SVM regressor
reg = SVR()

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 35.35926380207505

In [67]:
from sklearn.linear_model import ElasticNet

In [68]:
# Initialize the ElasticNet regressor
reg = ElasticNet(alpha=0.1, l1_ratio=0.5)

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 29.84835304370706

In [69]:
from sklearn.preprocessing import PolynomialFeatures

In [70]:
# Transform the features into polynomial features
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

# Initialize the linear regression model
reg = LinearRegression()

# Fit the model on the polynomial features of the training data
reg.fit(X_train_poly, y_train)

# Predict the target values for the polynomial features of the testing data
y_pred = reg.predict(X_test_poly)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 28.68740337602279

In [71]:
from sklearn.ensemble import GradientBoostingRegressor

In [72]:
# Initialize the Gradient Boosting Regressor model
reg = GradientBoostingRegressor()

# Fit the model on the training data
reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = reg.predict(X_test)

# Evaluate the mean squared error of the model on the testing data
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 25.87764543605035

In [73]:
from sklearn.neighbors import KNeighborsRegressor

In [74]:
# Initialize the KNN regressor model
knn_reg = KNeighborsRegressor(n_neighbors=5)

# Fit the model on the training data
knn_reg.fit(X_train, y_train)

# Predict the target values for the testing data
y_pred = knn_reg.predict(X_test)

# Evaluate the performance of the model on the testing data
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1218.8666666666668